{% extends 'base.html.twig' %}

{% block body %}
     <h1 class="text-info"> Juntas</h1>
        <table class="table table-striped">
        <tbody>
            <tr>
                <th>Idretardos</th>
                <td>{{ retardo.idretardos }}</td>
            </tr>
            <tr>
                <th>Horallega</th>
                <td>{% if retardo.horaLlega %}{{ retardo.horaLlega|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Idrecasema</th>
                <td>{{ retardo.idrecaSema }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
         <label class="checkbox-inline">
            <a href="{{ path('retardos_index') }}">
       <label><button type="button" class="btn btn-primary btn-xs">Regresar</button></a></label>
     </ul>
{% endblock %}
