header{
    background: #00ACC1;
    color: #fff;
}

.main{
    background: #ffffff;
}

.color1{
    background: #34495e;
    color: white;
}
.color2{
	background: navy;
}



aside{
    background: #c0392b;
}

footer{
    background: #1565C0;
    color: white;
    
}