<!DOCTYPE html>
<html>
<head>

<style>
#header {
    background-color:purple;
    color:white;
    text-align:center;
    padding:10px;
	border: 2px solid green;
}

#footer {
    background-color:purple;
    color:white;
    clear:both;
    text-align:center;
   padding:10px;	 	 
   border: 2px solid green;
}


</style>

</head>

<body>
<div id="header">
<h1>Control de Retardos</h1>
</div>


<div id="footer">
@Teknei S.A. de C.V 2016 © Todos los Derechos reservados
</div>

</body>
</html>