<!DOCTYPE html>
<html>
<body>


<div class="btn-group">
  <button type="button" class="btn btn-primary">Inicio</button>
 
  <button type="button" class="btn btn-primary">Catalogos</button>
 
  <button type="button" class="btn btn-primary dropdown-toggle"
          data-toggle="dropdown">
    <span class="caret"></span>
    <span class="sr-only">Desplegar menú</span>
  </button>
 
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Cata</a></li>
    <li><a href="#">Roles</a></li>
    <li><a href="#">Horarios</a></li>
    <li><a href="#">Tarifas</a></li>
    <li><a href="#">Recargas y descuentos</a></li>
  </ul>
  <button type="button" class="btn btn-primary">Usuarios</button>
   <button type="button" class="btn btn-primary">Juntas</button>
    <button type="button" class="btn btn-primary">Multas</button>
     <button type="button" class="btn btn-primary">Cerrar Sesion</button>
</div>
</div>

{% block body %} 
{% endblock %}


</body>
</html>