<!DOCTYPE html>
<html lang="en">

<body>

<div class="container">
  <br>
  <h3></h3>
  <ul class="nav nav-pills nav-justified">
    <li class="active"><a href="#">Inicio</a></li>
     <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Catalogos 
      <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="../cata">Cata</a></li>
        <li><a href="../roles">Roles</a></li>
        <li><a href="../tarifas">Tarifa</a></li>   
         <li><a href="../horario">Horarios</a></li>
          <li><a href="../recadesc">Recargos y Descuentos</a></li>                     
      </ul>
    <li><a href="../usuario">Usuarios</a></li>
    <li><a href="../retardos">Juntas</a></li>
    <li><a href="../multa">Multas</a></li>
    <li><a href="#">Cerrar Sesion</a></li>
  </ul>
</div>

</body>
</html>
