{% extends 'base.html.twig' %}

{% block body %}
    <h1>Editar Rol</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" class="btn btn-primary btn-xs" value="Aceptar">
    {{ form_end(edit_form) }}

    <ul>
        
            <a href="{{ path('roles_index') }}">
            <label> <input type="submit" class="btn btn-primary btn-xs" value="Cancelar"></label>
       
               
    </ul>
  
{% endblock %}
