{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Roles</h1>

    <table class = "table">
        <tbody>
            <tr>
                <th>&nbsp;Idroles</th>
                <td>{{ role.idroles }}</td>
            </tr>
            <tr>
                <th>&nbsp;Nombre</th>
                <td>{{ role.nombre }}</td>
            </tr>
            <tr>
                <th>&nbsp;Estatus</th>
                <td>{{ role.idesta }}</td>
            </tr>
        </tbody>
    </table>

    <ul class= "nav nav-pills">
       
            <a href="{{ path('roles_index') }}">
           <label> <input type="submit" class="btn btn-primary btn-xs" value="Regresar"></a> </label>
</ul>
{% endblock %}
