	{% extends 'base.html.twig' %}

{% block body %}
     <h1 class="text-info"> Editar usuario</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
          <input type="submit" value="Guardar" />
    {{ form_end(edit_form) }}

    <ul>
        <label class="checkbox-inline">
            <a href="{{ path('usuario_index') }}">
       <label><button type="button" class="btn btn-primary btn-xs">Regresar</button></a></label>
        
    </ul>
{% endblock %}
