{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-info"> Usuario</h1>
        <table class="table table-striped">
        <tbody>
           
            <tr>
                <th>Usuario</th>
                <td>{{ usuario.usuario }}</td>
            </tr>
            <tr>
                <th>Contrasena</th>
                <td>{{ usuario.contrasena }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
         <label class="checkbox-inline">
            <a href="{{ path('usuario_index') }}">
       <label><button type="button" class="btn btn-primary btn-xs">Regresar</button></a></label>
     </ul>
{% endblock %}
